"""goeapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from goeapi.api_helper import APIHelper
from goeapi.apis.base_api import BaseApi
from goeapi.configuration import Server
from goeapi.exceptions.internal_server_message_exception import (
    InternalServerMessageException,
)
from goeapi.exceptions.internal_server_message_general_exception import (
    InternalServerMessageGeneralException,
)
from goeapi.exceptions.message_exception import (
    MessageException,
)
from goeapi.exceptions.validation_message_one_exception import (
    ValidationMessageOneException,
)
from goeapi.http.http_method_enum import HttpMethodEnum
from goeapi.models.advice_lookup_response import (
    AdviceLookupResponse,
)
from goeapi.models.annuities_response_model import (
    AnnuitiesResponseModel,
)
from goeapi.models.bulk_upsert_advice import (
    BulkUpsertAdvice,
)
from goeapi.models.ews_response_model import (
    EwsResponseModel,
)
from goeapi.models.goal_calculator_output_model import (
    GoalCalculatorOutputModel,
)
from goeapi.models.goe_for_taxes_output_model import (
    GoeForTaxesOutputModel,
)
from goeapi.models.goe_simulation_engine_output_model import (
    GoeSimulationEngineOutputModel,
)
from goeapi.models.run_pipe_response_model_v_4 import (
    RunPipeResponseModelV4,
)
from goeapi.models.up_av_4_response_model import (
    UpAv4ResponseModel,
)
from goeapi.models.wealth_splitter_output_model import (
    WealthSplitterOutputModel,
)


class GoeApi(BaseApi):
    """A Controller to access Endpoints in the goeapi API."""

    def __init__(self, config):
        """Initialize GoeApi object."""
        super(GoeApi, self).__init__(config)

    def run_pipe(self,
                 body,
                 version="4"):
        """Perform a POST request to /v3/runPipe.

        The <b>Run Pipe API</b> is the core of the Goals Optimization Engine (GOE),
        dynamically generating and adjusting personalized asset allocations using
        backward-looking <b>dynamic programming</b> to maximize goal success
        probability while factoring in risk tolerance, goal priority, and real-time
        progress.

        Args:
            body (RunPipeInputModel): The request body parameter.
            version (str, optional): The request header parameter. Example: 4

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v3/runPipe")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("version")
                .value(version))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(RunPipeResponseModelV4.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", MessageException)
            .local_error("404", "Not Found", ValidationMessageOneException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def unified_portfolio_advice(self,
                                 body,
                                 detailed_response=None):
        """Perform a POST request to /v4/unifiedportfolioadvice.

        <b>Unified Portfolio Advice (UPA)</b> is an API layer built on top of the
        Goals Optimization Engine (GOE) that consolidates <b>multiple financial
        goals</b> into a <b>single portfolio plan</b>, enabling integration with
        Platform Partner services, while also offering goal reduction recommendations
        to enhance plan success.

        Args:
            body (UnifiedPortfolioAdviceInputModelV4): The request body parameter.
            detailed_response (str, optional): The request header parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v4/unifiedportfolioadvice")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("detailedResponse")
                .value(detailed_response))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UpAv4ResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def initial_wealth_splitter(self,
                                body):
        """Perform a POST request to /v3/runWealthSplitter.

        <b>Initial Wealth Splitter (IWS)</b> is an optional API built on top of GOE
        that allocates an <b>End Investor’s lump-sum</b> initial wealth across
        <b>multiple goals</b> based on their priority, ensuring higher-priority goals
        are funded first and transparently displaying the prioritization logic to
        Platform Partners.

        Args:
            body (WealthSplitterInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v3/runWealthSplitter")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(WealthSplitterOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_simulation_engine(self,
                              body):
        """Perform a POST request to /api/goe-api/goalsimulationengine.

        <b>GOE SIMPL</b> is an advanced API built on the Goals Optimization Engine
        that simulates portfolio outcomes using <b>tax-aware logic</b>, Social
        Security offsets, and <b>Monte Carlo</b> simulations to optimize multi-goal
        financial plans for individuals or households, including support for custom
        portfolios and pre/post-tax account structures.

        Args:
            body (GoeSimulationEngineInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goalsimulationengine")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoeSimulationEngineOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()

    def goal_calculator(self,
                        body):
        """Perform a POST request to /api/goe-api/goalcalculator.

        The <b>Goal Calculator API</b> is a GOE-based tool that computes a <b>precise
        goal value</b> aligned with a <b>target probability</b> and goal priority
        using the core GOE algorithm and existing payload structures.

        Args:
            body (GoalCalculatorInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful Response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goalcalculator")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoalCalculatorOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_for_taxes(self,
                      body):
        """Perform a POST request to /GOEforTaxes.

        <b>GOE for Taxes (GOE TO)</b> is a <b>tax-aware</b> API built on the Goals
        Optimization Engine and Unified Portfolio Advice that <b>optimizes asset
        allocation</b> and generates trade recommendations, adjusting goals and
        cashflows to maximize post-tax goal success probability through dynamic
        planning and Social Security offsets.

        Args:
            body (GoeForTaxesInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/GOEforTaxes")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GoeForTaxesOutputModel.from_dictionary)
            .is_api_response(True)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()

    def goe_with_annuities_under_development(self,
                                             body):
        """Perform a POST request to /api/goe-api/goeWithAnnuities.

        <b>GOE with Annuities</b> is a retirement-focused API built on the Goals
        Optimization Engine that provides adaptive financial planning by recommending
        deferred and immediate <b>annuity purchases</b> to ensure guaranteed income
        for fixed expenses, while maintaining market exposure to support long-term
        growth.

        Args:
            body (GoeWithAnnuitiesInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/goeWithAnnuities")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AnnuitiesResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def goe_enhanced_initial_wealth_splitter_under_development(self,
                                                               body):
        """Perform a POST request to /api/goe-api/enhancedIWS.

        <b>Enhanced Wealth Splitter (EWS)</b> is an evolution of the Initial Wealth
        Splitter API, both built on top of the core GOE Engine. Given a pool of
        accounts and future contributions, EWS <b>optimally apportions available
        balances</b> across <b>multiple End Investor goals</b> — while ensuring,
        higher-ranked goals are fully funded before resources flow to lower-priority
        ones.

        Args:
            body (EwsInputModel): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/enhancedIWS")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(EwsResponseModel.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("404", "Not Found", MessageException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageException),
        ).execute()

    def advice_status_under_development(self,
                                        body):
        """Perform a POST request to /api/goe-api/advice-status.

        The <b>Advice Status API</b> is utilized by Platform Partners to provide GOE
        with a list of unique Advice IDs with their corresponding execution status.
        GOE leverages this information to monitor the End Investor’s goal investment
        lifecycle.

        Args:
            body (AdvicePayload): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/advice-status")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BulkUpsertAdvice.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()

    def advice_lookup_under_development(self,
                                        body):
        """Perform a POST request to /api/goe-api/advice-status/lookup/.

        The <b>Advice Lookup</b> endpoint returns request, response, and related
        metadata for a historical API request when provided with an Advice ID. Due to
        API security constraints, clients can only retrieve data for Advice IDs that
        they originally generated. As a result, the sample payload is only valid when
        used with the default GOE Developer Hub ID.

        Args:
            body (AdviceLookupRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful response
                with historical audit data

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/api/goe-api/advice-status/lookup/")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("JWTBearer")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AdviceLookupResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Bad Request", ValidationMessageOneException)
            .local_error("500",
                "Internal Server Error",
                InternalServerMessageGeneralException),
        ).execute()
